<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include layout %>
    <div class="col-md-9">
      <%- include header %> 
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="/">总排行</a></li>
          <% categories.forEach(function(category) { %>
            <li role="presentation"><a href="/record/<%= category._id %>"><%= category.name %></a></li>
          <% }) %>
        </ul><br>
        <table class="table">
          <tr>
            <td>排名</td>
            <td>昵称</td>
            <td>得分</td>
            <td>题目</td>
          </tr>
          <% records.forEach(function (record, index) { %>
            <% if (index < 20) { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= record.nick %></td>
                <td><%= record.scoreTemp %></td>
                <td>
                  <% record.questions.forEach(function (question) { %>
                    <a href="/question/<%= question.question %>"><%= question.num %></a>
                  <% }) %>
                </td>
              </tr> 
            <%  } %>
          <% }) %>
        </table>
    </div>
  </div>
  </body>
</html>
