<div class="col-md-2">
	<div class="row">
		<img id="logo" src="/images/logo.9a70b71.png">
	</div>
	<h3 class="row text-center">
		Hello, <%= user.nick %>
	</h3>
	<h4 style="margin-bottom:60px" class="row text-center">
		Score: <%=  %> || Rank: <%= user.rank %>
	</h4>
	<ul class="nav nav-pills nav-stacked" role='tablist'>
		<% categories.forEach(function(category) { %>
			<li role='presentation'><a href="/categories/<%= category._id %>"><%= category.name %></a></li>
		<%	}) %>
	</ul>
</div>