<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include layout %>
    <div class="col-md-9">
      <%- include header %> 
        <h2 class="text-center"><%= category.name %></h2>
        <table class="table">
          <tr>
            <td>题目</td>
            <td>分值</td>
            <td>截止日期</td>
            <td>tips</td>
          </tr> 
          <% questions.forEach(function (question) { %>
            <tr>
              <td><a href="/question/<%= question._id %>"><%= question.name %></a></td>
              <td><%= question.score %></td>
              <td><%= question.deadline %></td>
              <td>
              <% question.tips.forEach(function(item) { %>
                <span class="label label-success"><%= item %></span>
              <%  }) %>
              </td>
            </tr> 
          <% }) %>
        </table>
    </div>
  </div>
  </body>
</html>
