<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include layout %>
    <div class="col-md-9">
      <%- include header %> 
          <div class="row">
            <div class="col-md-6">
              <div class="thumbnail">
                <h3><%= question.name %></h3>
                <% question.tips.forEach(function(tip) { %>
                  <h4><span class="label label-success"><%= tip %></span></h4>
                <%  }) %>
                <p><%= question.description %></p>
                <% if (question.file) { %>
                  <a target='_blank' download='<%= question.file %>' href="/upload/<%= question.file %>">下载附件</a>
                <%  } %>
                <hr>
                <div class="input-group col-md-6 col-md-offset-6">
                  <form role="form" method="post" action="/answer" enctype="multipart/form-data">
                    <% if (question.needFile) { %>
                      <input type="file" name="uploadPoster" class="form-control">
                      <input type="hidden" name="answer">
                    <%  } else{ %>
                      <input type="text" name="answer" class="form-control">
                    <%  } %>
                    <input type="hidden" name="id" value="<%= question._id %>">
                    <input type="hidden" name="category" value="<%= question.category %>">
                    <button class="btn btn-default pull-right" type="submit">提交答案</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <% if (!theRecord.score) { %>
                  <h2>得分：0/<%= question.score %></h2>                  
                <%  } %>
                <% if (theRecord.score) { %>
                  <h2>得分：<%= theRecord.score %>/<%= question.score %></h2>
                <%  } %>
                <h3>答题评语</h3>
                <div><%= theRecord.comment %></div>
              </div>
            </div>
          </div> 
    </div>
  </div>
  </body>
</html>
